<div class="card">
    <a href=<%="/usuarios/perfil_usu/"+ u.id_usuario %>>
        <img alt="Imagen Perfil" width="100" height="100" src="../profile_img/<%= u.imagen %>" >
        <div class="container">
          <h4><b><%= u.nombre %></b></h4> 
          <p><%= u.reputacion %></p> 
            <%for(var x of etiqueta){ %> 
                <% if (u.id_usuario==x.id_usuario){ %>
                    <a class="boton_etiqueta" href=<%="/preguntas/filtrar_etiqueta/" + x.etiqueta %>>
                        <%= x.etiqueta %> 
                    </a>
                <% } %>
            <% };%>
          
        </div>
    </a>
</div>