<!DOCTYPE html>
<html lang="es">

    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="../css/filtrar_texto.css">
        <link rel="icon" type="image/png" href="../img/icon1.png">
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <!--Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
    
        <meta charset="UTF-8">
        <title>
            Café con preguntas
        </title>
    </head>
    
    <!-- La etiqueta body tenía id="scroll" -->
    
    <body>
    
        <%-include("header") %>
    
        <div id="fijo">
            <%-include("nav") %>
        </div>

        <div id="fondo">

            <div>
                <h1>Resultados de la búsqueda "<%=texto %>"</h1>
            </div>
    
            <div id="barra_info">
                <div id="contador">
                    Preguntas <%= contador %>
                </div>
                <a class="button" href="/preguntas/formular_pregunta.html" title="formular">
                    <b>Formular una pregunta</b>
                </a>
                
            </div>
    
            <ul>
                <% pregunta.forEach(p=>{ %>
                <li class="pregunta">
                    <div class="info_pregunta" > 
                        <a class="titulo_pregunta" href=<%="/respuestas/informacion_pregunta/"+ p.id_pregunta %>><%=p.titulo %></a>
                        
                        <div class="cuerpo"><%= p.cuerpo%></div>
                        
                        <div class="etiqueta_preguntas">
                            <%for(var x of etiqueta){ %> 
                                <% if (p.id_pregunta==x.id_pregunta){ %>
                                    <a class="boton_etiqueta" href=<%="/preguntas/filtrar_etiqueta/" + x.etiqueta %>>
                                        <%= x.etiqueta %> 
                                    </a>
                                <% } %>
                            <% };%>
                           
                        </div>
                    
                    </div>
    
                    <div class="info_usu" >
                        <div>
                            <div class="fecha_usu">
                                Formulada el 
                                <%= p.fecha%>
                                
                            </div>
                            <div class="imagen_usu">
                                <img  width="50" height="50" src=<%= p.imagen %>>
                            </div>
                           
                            <a class="nombre_usu" href=<%="/usuarios/perfil_usu/"+ p.id_usuario %>>
                               <%= p.nombre%>
                            </a>
                        </div>
                        
                              
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>

    </body>

</html>