<!DOCTYPE html>
<html lang="es">

    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/principal.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/filtrar_etiqueta.css">
        <link rel="icon" type="image/png" href="/img/icon1.png">
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <!--Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
    
        <meta charset="UTF-8">
        <title>
            Café con preguntas
        </title>
    </head>
    
    <!-- La etiqueta body tenía id="scroll" -->
    
    <body>

        <%-include("header") %>
    
        <div id="fijo">
            <%-include("nav") %>
        </div>

        <div id="fondo">

            <div>
                <h1>Resultados de la etiqueta [<%= filtro%>]</h1>
            </div>
    
            <div id="barra_info">
                <div id="contador">
                    Preguntas <%= contador %>
                </div>
                <a class="button" href="/preguntas/formular_pregunta.html" title="formular">
                    <b>Formular una pregunta</b>
                </a>        
            </div>
    
            <ul>
                <% pregunta.forEach(function(p){ %>
                    <%-include("preg",{p:p,etiqueta:etiqueta}) %>
                <% }); %>
            </ul>
        </div>

    </body>

</html>