<!DOCTYPE html>
<html lang="es">

    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/principal.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/perfil_usu.css">
        <link rel="icon" type="image/png" href="/img/icon1.png">
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <!--Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
    
        <meta charset="UTF-8">
        <title>
            Café con preguntas
        </title>
    </head>
    
    <!-- La etiqueta body tenía id="scroll" -->
    
    <body>
    
        <%-include("header") %>
    
        <div id="fijo">
            <%-include("nav") %>
        </div>
        
        <div id="fondo">
            <div id="estadisticas">
                <div id="perfil">
                    <img id="imagen_usu" src="/profile_img/<%= bio.imagen %>" >

                    <div>
                        <%= bio.nombre %>
                    </div>
                    <div>
                        Miembro desde el <%= bio.fecha%>
                    </div>
                </div>

                <div id="perfil_ranking">
                    <div class="barra">
                        Estadísticas
                    </div>
                    
                    <table>
                        <tr>
                            <td></td>
                            <td>Reputacion <br><b><%= bio.reputacion %></b> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Preguntas <br><b><%= bio.preguntas%></b> </td>
                            <td></td>
                            <td>Respuestas <br><b><%= bio.respuestas%></b> </td>
                        </tr>
                    </table>
                </div>
               
            </div>

            <div id="medallas">
                <div class="barra">
                    Medallas
                </div>
                <div class="grid_container">
                    
                            <div class="box">
                                <div id="bronce">BRONCE <br> <%=medallas.contBronce %> </div>
                                <ul>
                                    <% medallas.bronce.forEach(function(b){%>
                                    <li class="num_medallas">
                                        <div class="merito">
                                            <%=b.merito %>
                                        </div>
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                       
                        
                            <div class="box">
                                <div id="plata">PLATA <br> <%=medallas.contPlata %></div>
                                <ul>
                                    <% medallas.plata.forEach(function(p){%>
                                    <li class="num_medallas">
                                        <div class="merito">
                                            <%=p.merito %>
                                        </div>
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                        
                            <div class="box">
                                <div id="oro">ORO <br> <%=medallas.contOro %></div>
                                <ul>
                                    <% medallas.oro.forEach(function(o){%>
                                    <li class="num_medallas">
                                        <div class="merito">
                                            <%=o.merito %>
                                        </div>
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                     
                </div>
            </div>

        </div>

    </body>

</html>