<!DOCTYPE html>
<html lang="es">

    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/principal.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/perfil_usu.css">
        <link rel="icon" type="image/png" href="/img/icon1.png">
        <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
        <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <!--Iconos diseñados por <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
    
        <meta charset="UTF-8">
        <title>
            Café con preguntas
        </title>
    </head>
    
    <body>
    
        <%-include("header") %>
    
        <div id="fijo">
            <%-include("nav") %>
        </div>
        
        <div id="fondo">
            <div id="estadisticas">
                <div class="card">
                    
                        <img alt="Imagen Perfil" width="100" height="100" src="/profile_img/<%= bio.imagen %>" >
                        <div class="container">
                          <h4><b><%= bio.nombre %></b></h4> 
                          <p><%= bio.fecha%></p> 
                          
                        </div>
                    
                </div>

                <div id="perfil_ranking">
                    <div class="barra">
                        <b>Estadísticas</b>
                    </div>
                    
                    <table>
                        <tr>
                            <td></td>
                            <td>Reputacion <br><b><%= bio.reputacion %></b> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Preguntas <br><b><%= bio.preguntas%></b> </td>
                            <td></td>
                            <td>Respuestas <br><b><%= bio.respuestas%></b> </td>
                        </tr>
                    </table>
                </div>
               
            </div>

            <div id="medallas">
                <div class="barra">
                    <b>Medallas</b>
                </div>
                <div class="grid_container">
                    
                            <div class="box">
                                <div id="bronce"><b>BRONCE</b> <br> <%=medallas.contBronce %> </div>
                                <ul>
                                    <% medallas.bronce.forEach(function(b){%>
                                    <li class="num_bronce">                               
                                            <%=b.merito %>
                                            <%if(b.cont>1){ %>
                                                <b> x<%=b.cont %></b>
                                            <% }%>                            
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                       
                        
                            <div class="box">
                                <div id="plata"><b>PLATA</b> <br> <%=medallas.contPlata %></div>
                                <ul>
                                    <% medallas.plata.forEach(function(p){%>
                                    <li class="num_plata">                  
                                            <%=p.merito%>
                                            <%if(p.cont>1){ %>
                                                <b> x<%=p.cont %></b>
                                            <% }%>                                     
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                        
                            <div class="box">
                                <div id="oro"><b>ORO</b> <br> <%=medallas.contOro %></div>
                                <ul>
                                    <% medallas.oro.forEach(function(o){%>
                                    <li class="num_oro">                            
                                            <%=o.merito %>
                                            <%if(o.cont>1){ %>
                                               <b> x<%=o.cont %></b> 
                                            <% }%>
                                    </li>
                                    <% });%>
                                </ul>
                            </div>
                     
                </div>
            </div>

        </div>

    </body>

</html>